/Lect03/nbproject/private/
/Lect03/build/
/Lec04/nbproject/private/
/Lec04/build/
/Lab1/build/
*.class
/Lab05/nbproject/private/
/Lec05/nbproject/private/
/Lec03/nbproject/private/
/Lec05/build/
/Lab2/nbproject/private/
/Lab2/build/