/Lect03/nbproject/private/
/Lect03/build/
/Lec04/nbproject/private/
/Lec04/build/
/Lab1/build/
*.class
/Lab05/nbproject/private/
/Lec05/nbproject/private/
/Lec03/nbproject/private/
/Lec05/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lec06/nbproject/private/
/Lec06/build/
/Lab3/nbproject/private/
/Lab3/build/
/Lec07/nbproject/private/
/Lec07/build/
/GridWorldCode/JavaApplication11/nbproject/private/
/GridWorld/nbproject/private/
/GridWorld/build/
/lab4/nbproject/private/
/lab4/build/